.container {
    display: block;
    width: 20em;
    
  }



.mycard{
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 10em;
    background: white;
    border-radius: 5%;
    margin: 130px;
    padding: 10px 3px;
    float: left;
    width: calc( 90em / 5 - 10px);
    background-color: aqua;

}


.mycard::before{
    position: absolute;
    top: -20px;
    left: 5px;
    width: 100%;
    height: 100%;
    font-size: 120px;
    opacity: 0.2;
    background: transparent;
    pointer-events: none;
}

.mycard::after{
    position: absolute;
    bottom: -10%;
    right: 5%;
    font-size: 120px;
    opacity: 0.2;
    background: transparent;
    filter: invert(1);
    pointer-events: none;

}



.text{
    font-size:4vh;
    margin-left: 1vh;
    margin-top:22vh ;
    text-align: center;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-between;
    padding: 0vh;
    position: absolute;
    bottom: 12%;
    letter-spacing: 2px;
}


.mycard:hover {
    cursor: pointer;
    color: #f2f2f2;
    box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
}



.mycard:hover{

    opacity : 1;
    background: #e2a9e5;
    background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
    background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
    background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
}





















 

  